.nav-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: transparent;
}

.AppName {
    font-size: 25px;
    cursor: pointer;
    margin: 15px;
}

.logout-btn-style {
    display: inline-block;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}


.inner-div-notes-logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}